<mat-accordion>
  <div *ngFor="let client of clients">
  <mat-expansion-panel *ngIf="client.client_name == data.name " [expanded]="true">
    <mat-expansion-panel-header>
    <mat-panel-title>
      {{client.client_name}}
    </mat-panel-title>
    </mat-expansion-panel-header>
    <ul *ngFor="let engagements of client.engagements">
      <li>{{engagements.engagement_name}}</li>
    </ul>
  </mat-expansion-panel>
</div>
</mat-accordion>
