.app-footer {
  background-color: #2c2c2c;
  color: #c6c6c6;
  padding: 1em;

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  
  &-links {
    font-size: .923em;
    line-height: 2.167;
    
    a {
      white-space: nowrap;
      color: #c6c6c6;
    }
  }
}