<div fxLayout="row" fxLayoutAlign="start center" class="footer">
  <em class="app-footer-link">&copy; Daugherty Business Solutions, {{currentYear}}</em>
  <pre>                                                              Run-C.M.D.</pre>
  <div fxFlex></div>
  <a mat-icon-button href="https://www.facebook.com/dbs1985/">
    <img src="assets/img/facebook-icon.png" alt="Facebook">
  </a>
  <a mat-icon-button href="https://twitter.com/daughertytweets?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
    <img src="assets/img/twitter-icon.png"  alt="Twitter">
  </a>
  <a mat-icon-button href="https://www.linkedin.com/company/daugherty-business-solutions">
    <img src="assets/img/linkedin-icon.png" alt="LinkedIn">
  </a>
  <a mat-icon-button href="https://www.youtube.com/channel/UCmOMOQKzgVzaMVIwRO1yO4Q">
    <img src="assets/img/youtube-icon.png" alt="YouTube">
  </a>
</div>
