@import './styles/_colors';
@import './styles/angular-material-override';
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$du-app-primary: mat-palette($mat-green);
$du-app-accent : mat-palette($mat-blue-grey, A200, A100, A400);
// The warn palette is optional (defaults to red).
$du-app-warn : mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$du-app-theme: mat-light-theme($du-app-primary, $du-app-accent, $du-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($du-app-theme);

$card-margin: 35px;

.daughertylogo {
  background-image: url('http://techli.com/wp-content/uploads/TeamDaugherty.png');
  background-size: cover;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#E6E6E6;
}
.radio-label {
  font-size: 0.785em;
  margin-bottom: 0.5em;
  color: $grey;
}
.mat-snack-bar-container {
  background-color: $primaryText;
}
.fa {
  padding: 0 4px;
}
.header{
  flex-basis: auto;
  justify-content: center;
}
.search{
  padding-top: 25px;
  min-width: 400px;
  max-width: 450px;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.search-card{
  text-align: center;
  justify-content: center;
  margin: auto;
}
.card-header{
  justify-content: center;
  margin: auto;
  max-width: 200px;
  min-height: 85px;
}
.button-spacer{
  padding-top: 00px;
}
.card-actions{
  padding: 5px;
  text-align: center;
}
.card-container {
  margin-top: 5px;
  margin-left: $card-margin;
  margin-right: $card-margin;
  margin-bottom: 50px;
  min-height: 200px;
  min-width: 200px;
  flex-basis: auto;
  //flex-flow: row;
  justify-content: center;
}
.card-each{
  background-color: $white;
  margin-top: 5px;
  margin-left: $card-margin;
  margin-right: $card-margin;
  margin-bottom: 50px;
  min-height: 200px;
  min-width: 200px;
  flex-basis: auto;
  //flex-flow: row;
  justify-content: center;
}
.details-category {
  color: $grey;
  text-align: center;
}
.card-image{
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  margin: auto;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: $white;
  // color: $white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;
  bottom: 140%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
