<div class="user-edit" fxLayout="column">
  <div fxLayout="row">
    <div fxFlex></div>
    <mat-card fxFlex class="user-edit-container" *ngIf="pageSubmit === false else loading">
      <mat-card-header>
        <mat-card-title>
          <h1>Update User Info</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <div *ngIf="user$ | async as user else loading"> -->
        <div>
          <form #userUpdateForm="ngForm" fxLayout="column" (ngSubmit)="updateProfile(userUpdateForm)">
            <div fxLayout="column">

              <div fxLayout="row" class="user-create-form-row">
                <mat-form-field fxFlex>
                  <input type="text" disabled id="firstName" name="firstName" matInput required
                         value={{profile.first_name}}>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                  <input type="text" id="lastName" disabled name="lastName" matInput required
                         placeholder={{profile.last_name}}>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- <mat-form-field class="user-create-dob">
                <input type="date" id="dob" name="dob" matInput required placeholder="Date of Birth">
                <mat-error>
                  This field is required
                </mat-error>
              </mat-form-field> -->
              <label class="updateLabel">Email</label>
              <mat-form-field>
                <input type="email" id="email" name="email" matInput required [(ngModel)]=profile.email>
                <mat-error>
                  This field is required
                </mat-error>
              </mat-form-field>

              <label class="updateLabel">Slack ID</label>
              <mat-form-field>
                <input type="text" id="slack" name="slack" matInput required [(ngModel)]=profile.slack>
                <mat-error>
                  This field is required
                </mat-error>
              </mat-form-field>

              <label class="updateLabel">Profile Bio</label>
              <mat-form-field>
                <textarea matTextareaAutosize matAutosizeMinRows=6 matInput required id="bio" name="bio"
                          [(ngModel)]=profile.bio></textarea>
                <mat-error>
                  This field is required
                </mat-error>
              </mat-form-field>
              <input #file type="file" (change)="onFileChanged($event)" accept=".jpg, .png">
              <!--<file-upload #fileInput (submit)="fileInput.upload()"></file-upload>-->
            </div>
            <div fxLayout="row">
              <div fxFlex></div>
              <a [routerLink]="['../../profiles']" mat-raised-button class="user-cancel-button">Cancel</a>
              <button type="submit" mat-raised-button color="primary" class="user-edit-button">Save</button>
            </div>
          </form>
        </div>
        <ng-template #loading>
          <h1>TESTESTEST</h1>
          <div class="loading-spinner-container">
            <mat-spinner class="loading-spinner"></mat-spinner>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <ng-template #loading>
      <div class="loading-spinner-container">
        <mat-spinner class="loading-spinner"></mat-spinner>
      </div>
    </ng-template>
    <div fxFlex></div>
  </div>
</div>
