<div class="details-container">
  <mat-card class="details-card-each details-category">
    <mat-card-header>

    </mat-card-header>

    <mat-card-content class="details-category">
      <img src="{{apiURL}}/images/{{profile.picture}}" height="150" width="150" class="card-image">
    </mat-card-content>
    <span class="details-name">{{profile.first_name}} {{profile.last_name}}</span>
    <mat-list class="details-list">

      <!-- <mat-list-item><span class="details-category">Name: </span> {{profile.first_name}} {{profile.last_name}}</mat-list-item>-->
      <mat-divider></mat-divider>
      <mat-list-item><span class="details-category">Job Title: </span> {{profile.job_title}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="details-category">Line of Service: </span> {{profile.line_of_service}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="details-category">Role: </span> {{profile.role_name}} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="details-category">Email: </span> {{profile.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span class="details-category">Slack: </span> {{profile.slack}}</mat-list-item>

    </mat-list>
  </mat-card>

  <div fxLayout="row wrap">
    <mat-card class="details-bio details-card-each">
      <mat-card-title><span class="details-category">Bio:</span></mat-card-title>
      <mat-card-content class="bio-content">
        {{profile.bio}}

      </mat-card-content>

      <hr />
      <br />
    <!--<mat-card class="details-table-card">


    </mat-card>
  -->

  <!-- <mat-card class="tableau" id="vizContainer" ></mat-card> -->
  <div id="vizContainer" ></div>
</mat-card>
  </div>


