@import '../../../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Open+Sans%7CComing+Soon);
$Open-Sans: 'Open Sans', sans-serif;
$card-margin: 10px;
$page-margin: 10px;
$pic-margin: 10px;

.example-card {
  max-width: 200px;
}
.details-table-card {
  margin: $card-margin;
  //transform: scale(0.75, 0.75);
}
.details-right-content {
  justify-content: start;
}
.profile-pic {
  object-fit: cover;
  margin: $pic-margin;
}
.details-name{
  color: black;
  padding: 10px;
  font-weight: bold;
}
.details-container {
  margin: $page-margin;
  justify-content: flex-start;
  display: flex;
}
.details-list {
  margin: auto;
}
.details-bio {
  min-width: 1100px;
  //max-height: 100px;
  margin: $page-margin;
}
.details-category {
  color: $grey;
  padding: 5px;
  text-align: center;
}
.details-table-card{
  height: 400px;
  max-height: 100px;
}
.name{
font-weight: bold;
}
.bio-content{
  font-family: $Open-Sans;
  font-size: 16px;
 }
.details-card-each{
  background-color: $white;
  margin-top: 5px;
  //margin-left: $card-margin;
  //margin-right: $card-margin;
  //margin-bottom: 50px;
  //min-height: 200px;
  //min-width: 200px;
  //flex-basis: auto;
  //flex-flow: row;
  justify-content: center;
}
.details-card-image{
  margin: auto;
  text-align: center;
  justify-content: center;

}
