@import 'src/styles/_colors.scss';
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $primary;
  background-image: linear-gradient($primaryLight, $primary);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
  padding: 0 1em;
  &-brand {
    padding: 7px;
    width: 100px;
    height: 100px;
    img {
      height: 100%;
    }
  }
  &-link {
    font-weight: 700;
    line-height: 3.5;
    font-size: 1.077em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    color: $white;
  }
}
.button-white {
  color: $white;
  margin-left: 20px;
}
