<nav fxLayout="row" class="app-header" fxLayoutAlign="start center">
  <a mat-icon-button class="app-header-brand" [routerLink]="['']">
    <img src="assets/img/teamdaugherty.png" alt="Daugherty Logo">
  </a>
  <img src="assets/img/logo.png" width="450" height=""/>
  <div fxFlex></div>
  <!--<a mat-button [routerLink]="['']" class="app-header-link">Home</a>-->
  <a mat-button [routerLink]="['profiles']" class="app-header-link" *ngIf="user$ | async">Profiles</a>
  <a mat-button [routerLink]="['clients']" class="app-header-link" *ngIf="user$ | async">Clients</a>
  <div *ngIf="user$ | async as user">
    <div class="button-white">
      <p>Welcome,
      <button mat-button [matMenuTriggerFor]="userMenu">
        <i class="fa fa-user"></i> {{ user.username }}
      </button></p>
    </div>
    <mat-menu #userMenu="matMenu">
      <button mat-button *ngIf="user$ | async" (click)="logout()">
        <i class="fa fa-sign-out"> Logout</i>
      </button>
      <br />
      <button mat-button *ngIf="user$ | async" [routerLink]="['editProfile/1']">
        <i class="fa fa-address-card"> Edit Profile</i>
      </button>
    </mat-menu>
  </div>
  <div fxFlex="1"></div>
</nav>
