<!-- search container -->
<div class="search">
    <div class="search-card">

      <div class="tooltip">
          <span class="tooltiptext">You can search by a client's name</span>
      <mat-form-field>
        <input type="text" matInput placeholder="Client Search:" [(ngModel)]="args">

      </mat-form-field>
      <i class="fa fa-search"></i>
    </div>
    </div>
    </div>


<!-- card container -->
<div fxLayout='row wrap' class="card-container">
  <div [fxFlex.gt-lg]="regularDistribution" *ngFor="let client of clients | filterBy:['client_name']: args">

    <!-- generated cards -->
    <mat-card class="card-each">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="daughertylogo"></div>
        <mat-card-title>{{client.client_name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="client-actions">
      </mat-card-actions>

      <img mat-card-image class="card-header client-border" src="{{apiURL}}/images/client_logos/{{client.logo}}"
        alt="Photo of a Shiba Inu" height="200" width="200" class="card-image">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions class="card-actions">

        <button class="card-actions-button" mat-raised-button
          (click)="openDialog(client.client_name)">Engagements</button>
      </mat-card-actions>
      <mat-card-actions class="card-actions">
        <button class="card-actions-button" mat-raised-button
          [routerLink]="['/byclient',client.client_id]">Consultants</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
