@import '../../styles/colors';
$card-margin: 50px;

.example-card {
  max-width: 200px;
}
.card-image{
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  margin: auto;
}
.client-border{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

