@import '../../../styles/colors';
$card-margin: 50px;

.example-card {
  max-width: 200px;
}
.daughertylogo {
  background-image: url('http://techli.com/wp-content/uploads/TeamDaugherty.png');
  background-size: cover;
}
.card-image{
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  margin: auto;
}
