<!-- search container -->
<div class="search">
<div class="search-card">

  <div class="tooltip">
      <span class="tooltiptext">You can search by Name, Line of Service, Client, or Engagement</span>
  <mat-form-field>
    <input type="text" matInput placeholder="Profile Search:" [(ngModel)]="args">

  </mat-form-field>
  <i class="fa fa-search"></i>
</div>
</div>
</div>


<!-- card container -->
<div fxLayout='row wrap' class="card-container">
  <div [fxFlex.gt-lg]="regularDistribution" *ngFor="let profile of profiles | profileFilter : args">
    <!--<p><a [routerLink]="['/profiles',profile.consultant_id ]" style="color:black; text-decoration: none"></a> TEST</p>-->

    <!-- generated cards -->
    <mat-card class="card-each">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="daughertylogo"></div>
        <mat-card-title>{{profile.first_name}} {{profile.last_name}}</mat-card-title>
        <mat-card-subtitle>{{profile.line_of_service}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [routerLink]="['/profiles',profile.consultant_id ]" src="{{apiURL}}/images/{{profile.picture}}" alt="Photo of a Shiba Inu" height="200" width="200" class="card-image">
      <mat-card-content>

        <p class="details-category">{{ profile.job_title }}</p>

      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-raised-button [routerLink]="['/profiles',profile.consultant_id ]">View Details</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
